<!-- artifacts Section -->
    <section id="artifacts" class="bg-light-brown">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Artifacts</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                {% for artifact in site.data.artifacts %}
                <div class="col-sm-4">
                    <div class="artifact">
                        <img src="{{ artifact.pic }}" class="img-responsive" alt="{{ artifact.alt }}">
                        <h4>{{ artifact.name }}</h4>
                            <ul class="list-inline">
                            {% for links in artifact.link %}
                            <li><a href="{{ links.url }}" alt="Source file for {{ links.type }}" ><i class="fa fa-{{ links.type }}"></i> Source file</a>
                            
                            {% endfor %}

                        </ul>
                    </div>
                        
                        <p class="text-muted">{{ artifact.description }}</p>
                        
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>