<h2 id="brand-identity">Brand &amp; Identity</h2>
<h3 id="logo">Logo</h3>
<p>Logo iterations around brain coral pattern.</p>
<div class="figure">
<img src="img/iterations/logo-iterations-1.2.large.png" alt="Logo iterations" />
<p class="caption">Logo iterations</p>
</div>
<hr />
<h4 id="mark">Mark</h4>
<p>Logo mark exploration.</p>
<p><img src="img/iterations/logo-mark-round-1.png" alt="Mark round" /> ___ Word mark exploration</p>
<p><img src="img/iterations/wordmark-round-1.png" alt="Wordmark Round" /> ___ Word mark exploration around Museo Slab</p>
<div class="figure">
<img src="img/iterations/museo-slab-wordmark-round.png" alt="Museo Slab Wordmark" />
<p class="caption">Museo Slab Wordmark</p>
</div>
<hr />
<h3 id="color">Color</h3>
<p>Final color palette loosely based on coral motifs.</p>
<div class="figure">
<img src="img/iterations/color-inventory-circles.png" alt="Palette" />
<p class="caption">Palette</p>
</div>
<hr />
<h3 id="typography">Typography</h3>
<p>Final family selection ended up being Museo, but we are making the switch over to Josefin Slab for titles.</p>
<div class="figure">
<img src="img/iterations/type-selection.png" alt="Type Selection" />
<p class="caption">Type Selection</p>
</div>
<hr />
<h3 id="styleguide">Styleguide</h3>
<p>TODO: build out simple, drill down or other structure or clone one like edx, atom, or docter.</p>
<h4 id="assets">Assets</h4>
<p>TODO: add ppt/key templates, sketch/ai/psd files.</p>
