<h2 id="brand-identity">Brand &amp; Identity</h2>
<h3 id="logo">Logo</h3>
<div class="figure">
<img src="img/iterations/logo-iterations-1.2.large.png" alt="Logo iterations" />
<p class="caption">Logo iterations</p>
</div>
<h4 id="mark">Mark</h4>
<div class="figure">
<img src="img/iterations/logo-mark-round-1.png" alt="Mark round" />
<p class="caption">Mark round</p>
</div>
<div class="figure">
<img src="img/iterations/museo-slab-wordmark-round.png" alt="Museo Slab Wordmark" />
<p class="caption">Museo Slab Wordmark</p>
</div>
<div class="figure">
<img src="img/iterations/wordmark-round-1.png" alt="Wordmark Round" />
<p class="caption">Wordmark Round</p>
</div>
<h3 id="color">Color</h3>
<div class="figure">
<img src="img/iterations/color-inventory-circles.png" alt="Palette" />
<p class="caption">Palette</p>
</div>
<h3 id="typography">Typography</h3>
<div class="figure">
<img src="img/iterations/type-selection.png" alt="Type Selection" />
<p class="caption">Type Selection</p>
</div>
<h3 id="styleguide">Styleguide</h3>
<p>TODO: build out simple, drill down or other structure or clone one like edx, atom, or docter.</p>
<h4 id="assets">Assets</h4>
<p>TODO: add ppt/key templates, sketch/ai/psd files.</p>
