<h2 id="get-involved">Get Involved</h2>
<p>Want to help out with the design? Reach out on our <a href="https://community.coralproject.net">community site</a> to participate in the discussions or to lend a hand where ever you think you would be a good fit.</p>
<ul>
<li>visual design</li>
<li>information architecture</li>
<li>user research</li>
<li>user experience design</li>
<li>interaction design</li>
<li>prototyping</li>
<li>data viz design</li>
<li>accessibility</li>
<li>content strategy</li>
<li>HTML / CSS</li>
<li>SVG</li>
</ul>
<p>Contributions are always <strong>welcome</strong>!</p>
<ol style="list-style-type: decimal">
<li>Create an issue to discuss about your idea (<a href="https://help.github.com/articles/creating-an-issue/">here is the guide</a>)</li>
</ol>
<ul>
<li>Fork the repository (<a href="https://help.github.com/articles/fork-a-repo/">here is the guide</a>)</li>
<li><p>Clone to your machine</p>
<pre><code>git clone https://github.com/YOUR_USERNAME/design.git</code></pre></li>
<li><p>Create your feature branch</p>
<pre><code>git checkout -b my-new-feature</code></pre></li>
<li><p>Make your changes</p></li>
<li><p>Commit your changes</p>
<pre><code>git commit -am &#39;Add some feature&#39;</code></pre></li>
<li><p>Push to the branch</p>
<pre><code>git push origin my-new-feature</code></pre></li>
<li><p>Create a pull request ([here is the guide]https://help.github.com/articles/creating-a-pull-request/))</p></li>
</ul>
<h4 id="contribution-requirements">Contribution Requirements:</h4>
<ul>
<li>Contributions must be appropriately licensed using an <a href="http://opensource.org/licenses">open source</a> license.</li>
<li>Contributions occur through Github pull requests.</li>
<li>Code must work in all supported browsers.</li>
</ul>
