<!-- Iterations Grid Section -->
    <section id="iterations" class="bg-light-brown">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Iterations</h2>
                    <h3 class="section-subheading text-muted">Previous and current iterations</h3>
                </div>
            </div>
            <div class="row">


            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 iterations-item">
                    <a href="#iterationsModal{{ post.modal-id }};" class="iterations-link" data-toggle="modal">
                        <div class="iterations-hover">
                            <div class="iterations-hover-content">
                                <i class="icon icon-plus"></i>
                            </div>
                        </div>
                        <img src="img/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
                    <div class="iterations-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
