<h6 id="target-roles">Target roles</h6>
<ul>
<li>Audience</li>
<li>Engagement Editor</li>
<li>Journalist</li>
<li>Moderator</li>
<li>Publisher</li>
<li>Developer</li>
<li>Third-party Installer</li>
</ul>
<h2 id="primary-persona">Primary Persona</h2>
<p>Primary Persona for Trust project is for the Engagement Editor role. <a href="primary-persona.md">Primary Persona</a></p>
<h2 id="secondary-persona">Secondary Persona</h2>
<p>Secondary Persona for the Trust project is for the Moderator <a href="secondary-persona.md">Secondary Persona</a></p>
<h2 id="tertiary-persona">Tertiary Persona</h2>
<p>Tertiary persona for the Trust project is for the Journalist role. <a href="tertiary-persona.md">Tertiary Persona</a></p>
<h4 id="journey-map-and-mental-models">Journey Map and Mental Models</h4>
<p>Journey Map is currently ongoing based on qualitative data from interviews.</p>
