<!-- personas Section -->
    <section id="personas" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Personas</h2>
                    <h3 class="section-subheading text-muted">Personas are currently ongoing and will require a new set of interviews for validation and insight.</h3>
                    
                </div>
            </div>
            <div class="row">
                {% for persona in site.data.personas %}
                <div class="col-sm-4">
                    <div class="persona">
                        <img src="{{ persona.pic }}" class="img-circle img-responsive" alt="{{ persona.alt }}">
                        <h4>{{ persona.name }}</h4>
                        <div> {{ persona.role }} </div>
                        <p>" {{ persona.tagline }} "</p>
                        
                        
                        
                         <input type="checkbox" id="btn-{{persona.name}}" name="nptbtn" value="one"/>
                        <label for="btn-{{persona.name}}" class="panel-label"> Motivators</label>
                        
                        
                        <div class="motivations">
                            <dl class="archetypes">
                                
                            {% for archetype in persona.archetypes %}
                                <dt>Archetype</dt>
                                <dd>{{ archetype.name }}</dd>
                                <h6>Orientation</h6>
                                    {% for orientation in archetype.orientations %}
                                        <dt>Primary Orientation</dt>
                                        <dd>{{ orientation.primary }}</dd>
                                        <dt>Secondary Orientation</dt>
                                        <dd>{{ orientation.secondary }}</dd>
                                    {% endfor %}
                                <h6>Traits</h6>
                                    {% for trait in archetype.traits %}
                                        <dt>Motto</dt>
                                        <dd>{{ trait.motto }}</dd>
                                        <dt>Core Desire</dt>
                                        <dd>{{ trait.desire }}</dd>
                                        <dt>Goal</dt>
                                        <dd>{{ trait.goal }}</dd>
                                        <dt>Greatest Fear</dt>
                                        <dd>{{ trait.fear }}</dd>
                                        <dt>Strategy</dt>
                                        <dd>{{ trait.strategy }}</dd>
                                        <dt>Weakness</dt>
                                        <dd>{{ trait.weakness }}</dd>
                                        <dt>Talent</dt>
                                        <dd>{{ trait.talent }}</dd>
                                        <dt>Also Known As</dt>
                                        <dd>{{ trait.aka }}</dd>
                                    {% endfor %}
                                
                            {% endfor %}

                        </dl>
                    </div>
                        
                        <p class="text-muted">{{ persona.description }}</p>
                        </div>
                        
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                    
                    {{ include persona.html }}
                </div>
            </div>
        </div>
    </section>