<h2>Design Process</h2>

<p>This is our design process and some of the activities required in each. While they are in sequential order, there is a lot of iterating back when we come across new findings.  </p>

<p><strong>Stakeholder Interviews</strong><br/>Gather requirements, research, KPI’s, and a wish list of features.  </p>

<p><strong>User Research &amp; Analysis</strong><br/>Identify user needs, frustrations and behaviors through exploratory research, and then model them.  </p>

<p><strong>Information Architecture</strong><br/>Define the navigation, taxonomy, terminology, metadata, findability, and searchability.  </p>

<p><strong>Interaction Design</strong> <br/>Create the interaction model, flows, and prototypes.  </p>

<p><strong>Content Strategy</strong> <br/>Content planning, development, and management.   </p>

<p><strong>Visual Design</strong><br/>Define the brand, identity, color palette, and type.  </p>

<p><strong>Usability</strong><br/>Planning and running cognitive evaluations around ease of use, and learnability.  </p>

<p><strong>User Testing</strong><br/>Attitudinal and behavioral evaluations of hypotheses.   </p>

<p>When reaching out to help contribute with design, please let us know which area you would like to be involved in and follow the directions on the <a href="contribute.md">contribute</a> page to get involved.   </p>

<h2>User Research</h2>

<h4>Interviews</h4>

<p>Qualitative data gathered over the past year from exploratory conversations with more than 300 people in over 175 organizations from more than 25 countries.   </p>

<p>Task-focused follow-up interviews are currently being planned for our first product. </p>

<h4>Needs Analysis</h4>

<p>Needs analysis based on interviews from the exploratory research phase. <br/><a href="https://trello.com/b/Dhrb4D74/coral-s-needs-public">Trello board</a> with needs by role.  </p>

<h4>Feature brainstorm</h4>

<p><img alt="Feature brainstorm" src="/images/placeholder-12x4.png"/>   </p>

<h4>Personas</h4>

<p>Personas are currently ongoing and will require a new set of interviews for validation and insight.  <br/><a href="personas.md">Personas project page</a>   </p>

<h6>Target roles</h6>

<ul><li>Audience</li><li>Engagement Editor</li><li>Journalist</li><li>Moderator</li><li>Publisher</li><li>Developer</li><li>Third-party Installer</li></ul>

<h4>Journey Map and Mental Models</h4>

<p>Journey Map is currently ongoing based on qualitative data from interviews.  </p>

<h6>Hypothesis driven design process flow</h6>

<ol><li>Conceptualize <em>idea</em>.</li><li>What <em>assumptions</em> can we make from this concept?</li><li>What <em>hypothesis</em> can we formulate from these assumptions?
<em>e.g.</em> <em>If</em> <strong>[action]</strong> <em>then</em> <strong>[outcome]</strong> <em>because</em> <strong>[user need/problem has been addressed]</strong>    </li><li>What <em>experiment</em> do we plan and conduct to test this hypothesis?</li><li>What did we <em>learn</em>?</li><li>What will do <em>next</em>?</li></ol>
