<h2>Design Process</h2>

<p>This is a breakdown of our current design process, methods, and, techniques which we can employ in order to properly assess user needs and frustrations so that we can properly ensure which products to build that will satisfy our user&#39;s goals and hopefully add an additional value proposition to everyone&#39;s experience beyond just solving the problem definition.</p>

<p>This deliberate process is especially useful when we want to:</p>

<ol><li>make a decision based on observational or subjective data.</li><li>gather behavioral and attitudinal insights from users.</li><li>map intent to behavioral cues through user and mental models.</li><li>facilitate design thinking and understanding across the company.</li></ol>

<p>These are our major areas of design and some of the activities required in each. While they are in sequential order, there is a lot of iterating back when we come across new findings.</p>

<p><img alt="Design Process" src="img/process/design-process-flow.png"/></p>

<p><strong>Stakeholder Interviews</strong><br/>Gather requirements, research, KPI’s, and a wish list of features.  </p>

<p><strong>User Research &amp; Analysis</strong><br/>Identify user needs, frustrations and behaviors through exploratory research, and then model them.  </p>

<p><strong>Information Architecture</strong><br/>Define the navigation, taxonomy, terminology, metadata, findability, and searchability.  </p>

<p><strong>Interaction Design</strong> <br/>Create the interaction model, flows, and prototypes.  </p>

<p><strong>Content Strategy</strong> <br/>Content planning, development, and management.   </p>

<p><strong>Visual Design</strong><br/>Define the brand, identity, color palette, and type.  </p>

<p><strong>Usability</strong><br/>Planning and running cognitive evaluations around ease of use, and learnability.  </p>

<p><strong>User Testing</strong><br/>Attitudinal and behavioral evaluations of hypotheses.   </p>

<h2>User Research</h2>

<h4>Interviews</h4>

<p>Qualitative data gathered over the past year from exploratory conversations with more than 300 people in over 175 organizations from more than 25 countries.   </p>

<p>Task-focused follow-up interviews are currently being planned for our first product. </p>

<h4>Needs Analysis</h4>

<p>Needs analysis based on interviews from the exploratory research phase. <br/><a href="https://trello.com/b/Dhrb4D74/coral-s-needs-public">Trello board</a> with needs by role.  </p>

<h4>Feature brainstorm</h4>

<p><img alt="Feature brainstorm" src="img/process/features.png"/>   </p>

<h5>Hypothesis driven design process flow</h5>

<ol><li>Conceptualize <em>idea</em>.</li><li>What <em>assumptions</em> can we make from this concept?</li><li>What <em>hypothesis</em> can we formulate from these assumptions?
<em>e.g.</em> <em>If</em> <strong>[action]</strong> <em>then</em> <strong>[outcome]</strong> <em>because</em> <strong>[user need/problem has been addressed]</strong>    </li><li>What <em>experiment</em> do we plan and conduct to test this hypothesis?</li><li>What did we <em>learn</em>?</li><li>What will do <em>next</em>?</li></ol>
