<h2>First Product</h2>

<blockquote><p>&quot;Our first product is a reputational analytics tool that takes existing comment log data to give indicative reputational scores to publishers.
That information can then be used by publishers to i) identify their best commenters so their contributions can be highlighted and become the basis for future journalism based on their own definition of “good”, ii) give moderators a sense of context about each commenter, and iii) help publishers understand the nature of commenter behavior on their site.&quot; <br/>Greg Barber <a href="https://coralproject.net/first-product/">Our First Product</a>   </p></blockquote>

<h4>User Stories</h4>

<p>User stories are currently being developed based on needs analysis.   </p>

<h4>Wireframes</h4>

<p>Wireframes based on current needs analysis and user stories are currently being developed.     </p>

<h5>Initial Admin Flow based on high level needs of Engagement Editor role.</h5>

<p><img alt="Admin IA Flow - Engagement Editor" src="/images/Admin IA Initial Draft 1.0.1.png"/></p>
