<h3 id="section">1.3.0</h3>
<h4 id="dashboard">Dashboard</h4>
<h5 id="search-driven-ui">Search driven UI</h5>
<div class="figure">
<img src="img/iterations/1.3.0/comps/h1-search-driven-ui-1440x1024.png" alt="H2 List Driven UI" />
<p class="caption">H2 List Driven UI</p>
</div>
<h5 id="list-driven-ui">List driven UI</h5>
<ol style="list-style-type: decimal">
<li>panel open</li>
</ol>
<div class="figure">
<img src="img/iterations/1.3.0/comps/h2-list-driven-ui-1-1440x1024.png" alt="H2 List Driven UI" />
<p class="caption">H2 List Driven UI</p>
</div>
<ol start="2" style="list-style-type: decimal">
<li>panel closed</li>
</ol>
<div class="figure">
<img src="img/iterations/1.3.0/comps/h2-list-driven-ui-1440x1024.png" alt="H2 List Driven UI" />
<p class="caption">H2 List Driven UI</p>
</div>
<h4 id="user-manager">User Manager</h4>
