<h3 id="section">1.0.0</h3>
<h4 id="mockup">Mockup</h4>
<h5 id="dashboard-list-driven-ui">Dashboard List Driven UI</h5>
<div class="figure">
<img src="img/iterations/1.0.0/dashboard%20v.1.0.0.png" alt="List Driven UI" />
<p class="caption">List Driven UI</p>
</div>
<h4 id="wireframes">Wireframes</h4>
<h5 id="zones">Zones</h5>
<div class="figure">
<img src="img/iterations/1.0.0/zones-1280.png" alt="Portlet zones" />
<p class="caption">Portlet zones</p>
</div>
<h5 id="list-driven-ui">List driven UI</h5>
<ol style="list-style-type: decimal">
<li>Dashboard side panel closed</li>
</ol>
<div class="figure">
<img src="img/iterations/1.0.0/dashboard%20v.1.0.0.png" alt="H1 List Driven UI - panel closed" />
<p class="caption">H1 List Driven UI - panel closed</p>
</div>
<ol start="2" style="list-style-type: decimal">
<li>Dashboard side panel open</li>
</ol>
<div class="figure">
<img src="img/iterations/1.0.0/dashboard%20v.1.0.1.png" alt="H1 List Driven UI - panel open" />
<p class="caption">H1 List Driven UI - panel open</p>
</div>
<ol start="3" style="list-style-type: decimal">
<li>Module Detail View / Options</li>
</ol>
<div class="figure">
<img src="img/iterations/1.0.0/module-detail-view-1.0.0.png" alt="H1 Module Detail View" />
<p class="caption">H1 Module Detail View</p>
</div>
<ol start="4" style="list-style-type: decimal">
<li><p>User manager profile</p>
<ul>
<li>User Manager Profile</li>
</ul>
<div class="figure">
<img src="img/iterations/1.0.0/user-manager-v.1.0.0.png" alt="User Manager Profile" />
<p class="caption">User Manager Profile</p>
</div>
<ul>
<li>User Manager Profile</li>
</ul>
<div class="figure">
<img src="img/iterations/1.0.0/user-manager-v.1.0.1.png" alt="User Manager Profile" />
<p class="caption">User Manager Profile</p>
</div></li>
<li><p>Authentication</p>
<ul>
<li>Sign in</li>
</ul>
<div class="figure">
<img src="img/iterations/1.0.0/sign-in.png" alt="Platform Settings" />
<p class="caption">Platform Settings</p>
</div>
<ul>
<li>Confirm</li>
</ul>
<div class="figure">
<img src="img/iterations/1.0.0/sign-in-confirm.png" alt="User Settings" />
<p class="caption">User Settings</p>
</div></li>
</ol>
