<h3 id="section">1.2.0</h3>
<h4 id="dashboard">Dashboard</h4>
<h5 id="h1">H1</h5>
<ol style="list-style-type: decimal">
<li>H1 List driven UI - Annotated wireframe</li>
</ol>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0-admin-base.png" alt="H1 List driven UI - annotated" />
<p class="caption">H1 List driven UI - annotated</p>
</div>
<ol start="2" style="list-style-type: decimal">
<li>H1 Search driven UI</li>
</ol>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.png" alt="H1 List Driven UI" />
<p class="caption">H1 List Driven UI</p>
</div>
<h5 id="h2">H2</h5>
<ol style="list-style-type: decimal">
<li>List driven UI alternative</li>
</ol>
<p><img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.1.png" alt="H2 List Driven UI" /> 2. Search driven UI alternative</p>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.2.png" alt="H2 Search Driven UI" />
<p class="caption">H2 Search Driven UI</p>
</div>
