<h3 id="section">1.2.0</h3>
<h4 id="wireframes">Wireframes</h4>
<h5 id="annotated">Annotated</h5>
<p>List driven UI - Annotated Dashboard Wireframe</p>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0-admin-base.png" alt="List driven UI - annotated" />
<p class="caption">List driven UI - annotated</p>
</div>
<h5 id="screens">Screens</h5>
<p>Changes in this iteration include repositioned user card in the top right (1.2.0.0) and the user manager as a tab in the data rather than its own page (1.2.0.1).</p>
<ul>
<li><p>1.2.0.0</p>
<p>List Driven Dashboard UI</p>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.0.png" alt="List Driven Dashboard UI" />
<p class="caption">List Driven Dashboard UI</p>
</div>
<p>List Driven Profile UI</p>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/user-profile-v.1.2.0.0.png" alt="List Driven Profile UI" />
<p class="caption">List Driven Profile UI</p>
</div></li>
<li><p>1.2.0.1</p>
<p>List Driven Dashboard UI - Updated Tabs Below Data View With User List Manager, Experiment, and Configure.</p>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.1.png" alt="List Driven Dashboard UI" />
<p class="caption">List Driven Dashboard UI</p>
</div></li>
<li><p>1.2.0.2</p>
<p>Search Driven Dashboard UI - Re-pri for testing at a later date based on feasibility.</p>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.2.png" alt="Search Defaults Initial Query to Date" />
<p class="caption">Search Defaults Initial Query to Date</p>
</div>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.2a.png" alt="Pivoting Data - Search Field and Facet Dropdown List" />
<p class="caption">Pivoting Data - Search Field and Facet Dropdown List</p>
</div>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.2b.png" alt="Profile Tab View - Messaging Sub Tab" />
<p class="caption">Profile Tab View - Messaging Sub Tab</p>
</div>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.2c.png" alt="Profile Tab View - Activity Stream Sub Tab" />
<p class="caption">Profile Tab View - Activity Stream Sub Tab</p>
</div></li>
<li><p>1.2.0.3</p>
<p>List Driven Dashboard UI - Date Range</p>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.2.png" alt="List Driven Dashboard UI" />
<p class="caption">List Driven Dashboard UI</p>
</div>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.2a.png" alt="Facet and graph selection" />
<p class="caption">Facet and graph selection</p>
</div>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.2b.png" alt="Profile Tab View - Messaging Sub Tab" />
<p class="caption">Profile Tab View - Messaging Sub Tab</p>
</div>
<div class="figure">
<img src="img/iterations/1.2.0/wireframes/dashboard-v.1.2.0.2c.png" alt="Profile Tab View - Activity Stream Sub Tab" />
<p class="caption">Profile Tab View - Activity Stream Sub Tab</p>
</div></li>
</ul>
<hr />
<h4 id="user-stories">User Stories</h4>
<p>The stories below are derived from needs analysis of interviews conducted with news staffs of all types over the past year. Coupling our features and flows with that of each role will help us to stay focused on their explicit needs.</p>
<p>TODO: Use cases covering all in and out flows once user stories have been validated.</p>
<h5 id="as-an-engagement-editor"><em>As an Engagement Editor</em></h5>
<ul>
<li><p>I need analytics to be able to track people on site, retention, etc in order to calculate lifetime value of each reader. This is because it helps with the business calculations / advertising / proving and quantifying the value of community.</p>
<div class="figure">
<img src="img/process/1.2.0/us-1-figure.png" alt="User Story 1" />
<p class="caption">User Story 1</p>
</div></li>
<li><p>I need to have a sense of who is in a particular section's community so the publication can do a better job of identifying gaps in their coverage in order to serve the community better.</p>
<div class="figure">
<img src="img/process/1.2.0/us-2-figure.png" alt="User Story 2" />
<p class="caption">User Story 2</p>
</div></li>
<li><p>I need to have tools to pass on knowledge about active trolls, top commenters, etc within the system. This is so that user behavior can be understood in context, and institutional knowledge isn't lost if someone leaves.</p>
<div class="figure">
<img src="img/process/1.2.0/us-3-figure.png" alt="User Story 3" />
<p class="caption">User Story 3</p>
</div></li>
<li><p>I need a demographic/other data point breakdown to understand if good/bad behavior correlates to anything - eg time of day, language used, etc. to help allocate future moderation resources.</p>
<div class="figure">
<img src="img/process/1.2.0/us-4-figure.png" alt="User Story 4" />
<p class="caption">User Story 4</p>
</div></li>
<li><p>I need a way to configure, customize and extend each tool.</p>
<div class="figure">
<img src="img/process/1.2.0/us-5-figure.png" alt="User Story 5" />
<p class="caption">User Story 5</p>
</div></li>
</ul>
