<p><span class="hide"> 1. Introduction</p>
<ol start="2" style="list-style-type: decimal">
<li><p><a href="contribute.md">Contribute</a></p></li>
<li><p><a href="process.md">Design Process</a></p></li>
<li><a href="personas.md">Personas</a></li>
</ol>
<ul>
<li><a href="primary-persona.md">Primary</a></li>
<li><a href="secondary-persona.md">Secondary</a></li>
<li><a href="tertiary-persona.md">Tertiary</a></li>
</ul>
<ol start="5" style="list-style-type: decimal">
<li><p><a href="roadmap.md">Roadmap</a></p></li>
<li><p><a href="project-trust.md">Core Product</a></p></li>
<li><p><a href="install.md">Install</a> </span></p></li>
</ol>
<h2 id="the-coral-project">The Coral Project</h2>
<p>On <em>The Coral Project</em>, we are creating open-source tools and resources for publishers of all sizes to build better communities around their journalism.</p>
<p>Throughout this project we will collect, support, and share practices, tools, techniques and studies to improve communities on the web.</p>
<p>This static site is still very much a work in progress as I add content and more structure to it over the next few weeks.</p>
