<h3>Contents</h3>

<ol><li>Introduction</li><li><a href="contribute.md">Contribute</a></li><li><a href="process.md">Design Process</a></li><li><a href="personas.md">User Research</a></li><li><a href="roadmap.md">Roadmap</a></li><li><a href="project-trust.md">First Product</a></li></ol>

<h1>The Coral Project</h1>

<p>On <em>The Coral Project</em>, we are creating open-source tools and resources for publishers of all sizes to build better communities around their journalism.</p>

<p>Throughout this project we will collect, support, and share practices, tools, techniques and studies to improve communities on the web.</p>

<p>If you would like to contribute, please check the <a href="contribute.md">contribute</a> page to see where help is most needed. </p>
