<p><span class="hide"> ### Contents</p>
<ol style="list-style-type: decimal">
<li>Introduction</li>
<li><a href="contribute.md">Contribute</a></li>
<li><a href="process.md">Design Process</a></li>
<li><a href="personas.md">Personas</a></li>
</ol>
<ol style="list-style-type: lower-alpha">
<li><a href="primary-persona.md">Primary</a></li>
<li><a href="secondary-persona.md">Secondary</a></li>
<li><a href="tertiary-persona.md">Tertiary</a></li>
</ol>
<ol start="5" style="list-style-type: decimal">
<li><a href="roadmap.md">Roadmap</a></li>
<li><a href="project-trust.md">Core Product</a></li>
<li><a href="install.md">Install</a></li>
<li><a href="contribute.md">Contribute</a> </span></li>
</ol>
<h2 id="the-coral-project">The Coral Project</h2>
<p>On <em>The Coral Project</em>, we are creating open-source tools and resources for publishers of all sizes to build better communities around their journalism.</p>
<p>Throughout this project we will collect, support, and share practices, tools, techniques and studies to improve communities on the web.</p>
<p>This site's repo is currently set to private while I update and structure and build out this static site, I should be ready to open the repo by the end of January.</p>
