<h3 id="project-roadmap">Project Roadmap</h3>
<p>Project roadmap for initial phase of project. <a href="img/process/design-roadmap-phase-1-small.png">Project Roadmap 9.2015</a></p>
<h5 id="current-project-roadmap">Current project roadmap</h5>
<p>1.16 - Iteration 1.3.0 Dashboard refactor Hypothesis: TODO Object Manager refactor Hypothesis: TODO</p>
<p>2.16 - Scenario and usability prototype testing for 1.3.0 and 1.2.0 Target roles: EE, Mod, Journalist Scenario: TODO</p>
<h4 id="project-success">Project Success</h4>
<ol style="list-style-type: decimal">
<li>Users' distinct concerns are met with a personalized value proposition which is attractive and engaging.</li>
<li>The platform is simple to understand and pleasing to use.</li>
<li>The platform accurately meets the goals of the users.</li>
</ol>
<h4 id="project-failure">Project Failure</h4>
<ol style="list-style-type: decimal">
<li>Users have not had their needs properly identified nor met.</li>
<li>The platform is unintuitive, cumbersome, and adds complexity or frustration to their workflow.</li>
<li>The platform fails to meet the goals of the users.</li>
</ol>
