<h3>Project Roadmap</h3>

<p>Project roadmap for initial phase of project. 
<img alt="Project Roadmap 9.2015" src="img/process/design-roadmap-phase-1-small.png"/></p>

<h4>Project Success</h4>

<ol><li>Users&#39; distinct concerns are met with a personalized value proposition which is attractive and engaging. </li><li>The platform is simple to understand and pleasing to use. </li><li>The platform accurately meets the goals of the users.</li></ol>

<h4>Project Failure</h4>

<ol><li>Users have not had their needs properly identified nor met. </li><li>The platform is unintuitive, cumbersome, and adds complexity or frustration to their workflow.</li><li>The platform fails to meet the goals of the users.</li></ol>
